.club-container {
  display: flex;
  align-items: center;
  padding: 1em 0.3em;
  font-weight: 500;
  background-color: lightcyan;
}

.club-container:nth-child(even) {
  background-color: #4a6d6c;
}

.club-container img {
  width: 30px;
  height: 30px;
}

.name-logo {
  display: flex;
  align-items: center;
  gap: 0.6em;
  flex: 0.5;
}

.points-arrow {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.points-arrow svg {
  width: 20px;
  height: 20px;
}

.pointer {
  display: flex;
  justify-content: flex-start;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 20rem;
  padding: 0 1em;
}

.details-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../images/epl-predictions-cover2021.jpeg);
  background-size: 140%;
  background-position-y: 65%;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.clubs-logos {
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  overflow: hidden;
  overflow-x: scroll;
}

.head {
  display: flex;
  justify-content: space-around;
  gap: 10%;
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: steelblue;
}

.gamesPlayed {
  margin: 1rem;
}

.number-container {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
  gap: 17%;
}

.games-win,
.games-lose,
.games-ties,
.win,
.lose,
.ties {
  display: none;
}

@media only screen and (min-width: 768px) {
  .name-logo {
    flex: 2 1;
  }

  .details-container::after {
    background-size: 100%;
  }

  .head {
    gap: 15%;
    background-color: steelblue;
  }

  .number-container {
    width: 68%;
    gap: 21%;
  }

  .club-container {
    padding: 1em 0.3em;
  }

  .games-win,
  .games-lose,
  .games-ties,
  .win,
  .lose,
  .ties {
    display: block;
  }
}
